* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

header > img {
  width: 10vw;
  margin-left: 1.3rem;
}

header > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

header > ul > li {
  width: 10vw;
  list-style: none;
}

header > ul > li > a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

header > ul > li > a:hover {
  color: #cfb63e;
}

main {
  width: 70vw;
  margin: 0 auto;
}

#home {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  height: 90vh;
}

#home > h2 {
  display: flex;
  flex-direction: row;
  color: #cfb63e;
  font-size: 1.3rem;
  width: 30%;
}

#home > h2::before {
  content: "";
  width: 3rem;
  border-bottom: 1px solid;
  margin: auto 0;
  margin-right: 1rem;
  border-color: #cfb73e81;
}

#home > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

#home > div > .left {
  width: 70%;
}

#home > div > .left > h1 {
  font-size: 3rem;
}
